/* Estilos Globales */

body {
    margin: 0px;
}

a {
    font-family: "Jost";
    font-size: 18px;
}

button {
    padding: 10px 25px;
    font-family: "Jost";
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-family: "Jost";
    font-weight: 300;
    font-size: 14.5px;
    letter-spacing: -0.64px;
}

.button--orange {
    margin-right: 10px;
    background-color: #fd909e;
    color: #fff;
    border: none;
}

h2 {
    margin: 5px 0px;
    color: #454868;
    font-family: "Jost";
    font-size: 42px;
    line-height: 55px;
    letter-spacing: -0.64px;
}
