/* Estilos Globales */

body {
    margin: 0px;
}

a {
    font-family: "Jost";
    font-size: 18px;
}

button {
    padding: 10px 25px;
    font-family: "Jost";
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-family: "Jost";
    font-weight: 300;
    font-size: 14.5px;
    letter-spacing: -0.64px;
}

.button--orange {
    margin-right: 10px;
    background-color: #fd909e;
    color: #fff;
    border: none;
}

/* Estilos Header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.header__navigator {
    display: flex;
    align-items: center;
}

.header__navigator ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #454868;
}

.header__settings {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header__settings div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400px;
}

.header__settings button {
    background-color: #fff;
    border: 2px solid #d9d9d9;
}

/* Estilos Banner */

#Banner {
    display: flex;
    margin: 25px 100px;
    padding: 90px 80px;
    background: linear-gradient(135deg, #5961F9 0%, #ED80FD 100%);
    border-radius: 48px 48px 300px 48px;
}

h1 {
    margin: 0px;
    color: #fff;
    font-family: "Jost";
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.64px;
}

#Banner p {
    margin: 25px 0px;
    color: #fff;
}

.button--white {
    padding: 10px 35px;
    background: transparent;
    color: white;
    border: 1px solid #fff;
}

/* Estilos Section--1 */
#Section--1 {
    display: flex;
    justify-content: space-between;
    margin: 25px 100px;
    padding: 20px 80px;
}

